
#userDivp {

    margin-left: auto;
    margin-right: auto;
    background-color: gold;
    width: 40%;
}
#userDiv {
    display:flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width:240px;
    height:240px;
}

.rounded-circle {
  display:flex;
  justify-content: left;
}
.h1 {
  display:flex;
  justify-content: center;
  font-weight:bold;
}


