
#userDivp {
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border-radius: 10px;
    width: 40%;
}
#userDiv {
    display:flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width:240px;
    height:240px;
}
.img-fluid {
    margin-top: 25px;
    margin-left: -105%;
    margin-right: 10px;
    width:200px;
    height:200px;
}
.h1 {
  display:flex;
  justify-content: center;
  margin-top:40%;
  font-weight:bold;

}


