<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
</head>
<body>
  <div class="border border-dark" id="userinfoDiv">
    <p>Info user</p>
  </div>
  <div id="msginputDiv">
    <input type="text" class="textarea"> 
  </div>

  <div id="lists">
    
    <div class="border border-dark" id="msglistDiv">
      <p>lista historias</p>


    </div>
  
    <div class="border border-dark" id="friendlistDiv">
      <p>lista amigos</p>
  
    </div>
  </div>















  
</body>
</html>
