.navbar {
  display:flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom:15px;
  border-radius: 10px;
}
.nav {
    display: flex;
    justify-content: center;
}
.logo {
    width: 144px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}
