



<nav class="navbar bg-dark border border-dark">
    <button class="logo border border-dark" type="button" href=""><img class="" src="../../../assets/logo.jpg" href="" alt="weblogo"/></button>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/home">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/historias">Historias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/amigos">Amigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/eventos">Eventos</a>
        </li>
      </ul>
</nav>

